<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/navbar.ejs') %>

<div class="container">
    <h3><%=blog.title%></h3>

    <p><%= blog.body %></p>  

    <figure >
        <figcaption class="blockquote-footer">
          <cite title="Source Title"><%=blog.author%></cite>
        </figcaption>
      </figure>   

    <a href="/blogs/edit/<%=blog._id%>" class="btn btn-warning mb-4">Update</a>

    <a class=" delete btn btn-danger mb-4" data-doc="<%= blog._id %>" >delete</a>

    <div class="border-top border-3 mb-4"><h2>Comments</h2></div>

    <% if(comments.length>0) {

        comments.forEach((comment)=>{ %>
        <div class="container" >
            <h4 style="color: rgb(72, 155, 206)"><%=comment.username%></h4>
            <p><%=comment.message%></p>
        </div>
        <%})
        
    } else{ %>

        <h5>No comments on this blog.</h5>

    <% } %>
    
    <div class="border-top border-3 mb-4 mt-4"><h5>Post a Comment</h5></div>

    <form action="/blogs/<%=blog._id%>/comment" method="POST" class="container">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control form-control-sm" required>
        <label for="message" class="form-label">message</label>
        <textarea name="message" class="form-control form-control-sm" cols="5" rows="3" required></textarea>
        <button class="btn btn-primary">Post</button>
    </form>
</div>
    <%- include('./partials/footer.ejs') %>


    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
          const endpoint = `/blogs/${trashcan.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE',
          })
          .then(response => response.json())
          .then(data => {console.log(data);window.location.href = data.redirect;})
          .catch(err => console.log(err));
        });
        
      </script>
</body>
</html>